.App {
  text-align: center;

}

/* styles.css */
.PopoverTrigger {
  background-color: white;
  border-radius: 4px;
}

.PopoverContent {
  border-radius: 4px;
  padding: 20px;
  width: 260px;
  background-color: white;
}

.PopoverArrow {
  fill: white;
}

.sel {
  margin-left: 10px;
}

/* Grid樣式 */
.grid-full {
  width: 100%;
  margin: 0 auto;
}

.grid-80-center {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.button-nowrap {
  white-space: nowrap;
  overflow: hidden;
  display: flex;
}

.card-train-approaching {
  background: rgba(200, 0, 0, 0.3);
}